:root {
    --bleuC : rgb(105, 105, 255);
    --bleu  : rgb(50, 50, 255);
    --bleuF : rgb(50, 50, 200);
}

* {
    margin : 0;

    padding : 0;

    font-family : Corbel;
}


.motADef {
    cursor : help;

    border-bottom : dashed thin var(--bleu);
}

.def {
    position : absolute;
    display : none;

    background-color: white;

    padding : .25em;

    border : solid thin var(--bleu);
    border-radius : .25em;

    box-shadow: 0 0 .5em rgba(0, 0, 0, .75);
}
.motADef:hover + .def {
    display : inline-block;
}

.rouge {
    color : red;
}
.jaune {
    color : gold;
}
.bleu {
    color : blue;
}
.mauve {
    color : magenta;
}

ul {
    list-style-type: none;
}

div p, div ul, div ol {
    margin : 1em 0;
    font-size: 1.1em;
}



body > header h1 {
    background-color: var(--bleu);

    padding : 1em 0;

    text-align: center;

    color : white;
}

body > header a {
    display : inline-block;

    text-decoration: none;

    padding : 1em 2em;

    font-size: 1.1em;

    color : white;
}


body > header > nav {
    overflow: hidden;

    background-color: var(--bleuF);

    height : 100%;

    text-align: center;

    color : white;
}

body > header > nav > ul > li {
    display : inline-block;
}
body > header > nav > ul > li:hover {
    background-color: var(--bleuC);
}


body > div {
    display : table;

    margin : auto;
    padding : 0 1em;

    max-width : 60em;
}

body > div > * {
    text-align: justify;
}
body > div > h1 {
    margin : 1em 0;

    border-bottom : solid thin black;
}


.feuille {
    box-shadow : 0 0 .5em rgba(0, 0, 0, .75);

    padding : .5em 2.5em;
    margin-bottom : 1em;
}
.feuille h2 {
    margin : .25em 0 .5em 0;
    text-align : center;
}
.feuille img {
    width : 100%;
}